@property --property-name {
  syntax: "<color>";
  inherits: false;
  initial-value: #c0ffee;
}

@keyframes error-shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(+4px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes grow-in {
  from {
    transform: scale(0%);
  }
  to {
    transform: scale(100%);
  }
}
